#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

config LIB_PROC
    bool "Build proc library"
    select HAVE_SEL4_LIBS
    select LIB_SEL4
    select LIB_SEL4_C
    select LIB_SEL4_SYNC
    select LIB_DEVICE
    select LIB_UT
    select LIB_LOG
    select LIB_UTILS
    default y
    help
        "SOS processes"
